In [1]:
ml = range(1,6)

In [2]:
ml

range(1, 6)

In [3]:
ml = range(1,6)
ms = 0
for num in ml:
    ms = ms + num
print(ms)

15

In [4]:
ms = 'Hello World'

for letter in ms:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [5]:
word = 'abcde'
for index, letter in enumerate(word):
    print(f'At {index} alphabet is {letter}')

At 0 alphabet is a
At 1 alphabet is b
At 2 alphabet is c
At 3 alphabet is d
At 4 alphabet is e

In [6]:
ml1 = [1,2,3]
ml2 = ['a', 'b', 'c']
for index, value in zip(ml1, ml2):
    print(index, value)

1 a
2 b
3 c

In [7]:
zip(ml1, ml2)

In [8]:
ms = 'gurkirpal'

ml = []

for letter in ms:
    ml.append(letter)

In [9]:
ml

['g', 'u', 'r', 'k', 'i', 'r', 'p', 'a', 'l']

In [10]:
ml1 =[] 
for num in range(1,10):
    ml1.append(num*2)
print(ml1)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [11]:
for num in range(1,10):
    print(f' The square of the {num} is {(num**2)}')

 The square of the 1 is 1
 The square of the 2 is 4
 The square of the 3 is 9
 The square of the 4 is 16
 The square of the 5 is 25
 The square of the 6 is 36
 The square of the 7 is 49
 The square of the 8 is 64
 The square of the 9 is 81

In [12]:
celcius  = [0, 10, 20, 34.5]
for num in celcius:
    print(f'{num} celcius in fehreheit is {(num*1.8)+32}')

0 celcius in fehreheit is 32.0
10 celcius in fehreheit is 50.0
20 celcius in fehreheit is 68.0
34.5 celcius in fehreheit is 94.1

In [13]:
# Python Program to Convert Celsius To Fahrenheit
fahrenheit = []
celcius  = [0, 10, 20, 34.5]
for num in celcius:
    fahrenheit.append((num*1.8)+32)
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [14]:
## To Calculate the Area of a Triangledef area(base, height):
def area(base, height):    
    result = (1/2)*base*height
    return result

In [15]:
result = area(2, 5)
result

5.0

In [16]:
#Python Program to Generate a Random Number
import random
x= random.randint(1,30)
print(x)

26

In [17]:
# Python Program to Convert Kilometers to Miles
def distance(mile):
    km = mile*1.6
    return km

In [18]:
distance(5)

8.0

In [19]:
#Python Program to Convert Celsius To Fahrenheit
def temp(celcius):
    fahrenheit = (celcius*1.8) + 32
    return fahrenheit

In [20]:
temp(100)

212.0